@import url("/spinnerstyle.css");

.outerscreen{
    width: 336px;
    text-align: center;
}
.headsec{
    background-color: black;
    color: white;
    font-size: large;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bodysec{
    background-color: whitesmoke;
    font-family:cursive;
    min-height: 250px;
    color: black;
    font-size: 2rem;
    padding: 80px 10px 10px 20px;
}
.bottomsec{
    background-color: black;
    font-size: small;
    min-height: 50px;
}

#btnactivity, #btnfriendinvite{
    padding: 5px;
    border-radius: 25px;
    background-color: #00acc9;
    color: white;
    border-color: #00acc9;
}



  